<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #000000;
      color: white;
    }
  body{
        overflow-x: hidden;
        text-align: center;
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
      }
  .blackbtn{
      border:none;
      display:inline-block;
      padding:8px 16px;
      vertical-align:middle;
      overflow:hidden;
        text-decoration:none;
        color:inherit;
        background-color:inherit;
        text-align:center;
        cursor:pointer;
        white-space:nowrap
      }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
  <br> 
<h2>All Products</h2>
<br>

        <!-- Table of Contents -->
        <table id="customers">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
             
         
          <% for(let obj of objects){ %>
            <tr>
              <td><%=obj.name%></td>
              <td><%=obj.quantity%></td>
              <td>Rs. <%=obj.price%> </td>
              <td><form action="/users/<%=obj._id%>/edit" method="put"><button type="submit" class="btn btn-primary btn-block">Edit</button></form>   </td> 
              <td><form action="/users/<%=obj._id%>?_method=DELETE" method="post"><button type="submit" class="btn btn-primary btn-block">Delete</button></form>   </td> 
            </tr>
            <% } %>
          </tbody> 
        </table>
<br>
        <button class="blackbtn" > <a class="btn btn-primary btn-block" href="/users/new" >Add New Product</a></button>
        <br>
        <br>
        <button class="blackbtn" > <a class="btn btn-primary btn-block" href="/users/logout" >Logout</a></button>


</body>
</html>
